body{
    font-size: 12px;
    color: black;
    font-family: Verdana;

}
h1 {
    font-size: 25px;
    font-weight: bolder;
    text-transform: uppercase;
}
.container {
    width: 1030px;
    margin: auto;
}
.button {
    height: 45px;
    width: 300px;
    background-color: #4275c8;
    vertical-align: middle;
    text-align: center;
    padding-top: 0px;
    padding-bottom: 32px;
    margin-top: 30px;
    font-size: 24px;
    border-radius: 20px;
    border: 1px solid black;
    box-shadow: 3px 5px #e0e0e0;
}
.button:hover {
    background-color: #4275a1;
    color: #fff;
    font-weight:bolder;
}
.act {
    height: 175px;
    width: 500px;
    vertical-align: middle;
    background-repeat: no-repeat;
    background-size: 100%;
    color: #fff;
    text-shadow: 2px 2px #000;
    margin: auto;
}
.act:hover{
    background-color:#000;
    opacity:0.8;
}

#index_content_top{
    height: 225px;
    width: 1010px;
    margin: auto auto 5px auto;
    display: inline-block;
}

#index_content_bot{
    height: 225px;
    width: 1010px;
    margin: auto auto 5px auto;
    display: inline-block;
}

#act1 {
    background-image: url("https://i.imgur.com/uu72Ttu.jpg");
    background-size: 125%;
    float: left;
}

#act2 {
    background-image: url("https://i.imgur.com/AcDOzXZ.jpg");
    float: right;
}

#act3 {
    background-image: url("https://i.imgur.com/evFEvPy.jpg");
    float: left;
}

#act4 {
    background-image: url("https://i.imgur.com/RFiIfHy.jpg");
    float: right;
}

.containerbtn {
    width: 20%;
    height: 600px;
    margin:auto;
}
.heading {
    margin: auto;
    font-size: 30px;
}
#centeractivites {
    text-align: center;
    margin-left: 3.5%;
    margin-top: 50px;
    margin-bottom:100px;
}

.center {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.btn {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 7px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    border-radius: 5px; /* https://www.w3schools.com/css/css3_borders.asp */
    box-shadow: 1px 1px 1px #888888;
    -webkit-transition-duration: 0.1s; /* Safari */
    transition-duration: 0.1s;
}

.btn-create {
    background-color: #4CAF50;
}

a {
    text-decoration: none;
    color: black;
}