<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>AdventureXP - Bookings</title>
    <link rel="stylesheet" href="../Static/styleTKKD.css">
</head>
<body>
<p>Alle bookinger</p>
<div class="btn">
    <a href="createcustomer">Create customer</a>
    <!--<form method="get">-->
    <!--<button type="submit" formaction="/createcustomer" class="btn" >Create new customer</button>-->
    <!--</form>-->
</div>
<table>
    <thead>
    <tr>
        <th>Booking-nr.</th>
        <th>Kunde-nr.</th>
        <th>Antal</th>
        <th>Pris</th>

    </tr>

    </thead>
    <tbody>
    <tr th:each="booking : ${bookingListe}">
        <td th:text="${booking.id}"></td>
        <td th:text="${booking.customerId}"></td>
        <td th:text="${booking.people}"></td>
        <td th:text="${booking.price}"></td>
        <td>
            <a th:href=" ${'/details?id=' + person.studentID} " class="btn btn-details">Detaljer</a>
            <a th:href=" ${'/edit?id=' + person.studentID} " class="btn btn-ed">Redigér</a>
            <a th:href=" ${'/delete?id=' + person.studentID} " class="btn btn-del">Delete</a>

        </td>
    </tr>

    </tbody>
</table>
</body>
</html>