<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>gokart</title>
    <link rel="stylesheet" href="styleTKKD.css">
</head>
<body>

<!-- Her bruges thymeleaf til at inkluder en header, som indeholder vores h1 i toppen af siden. Denne th:include line bør sættes in på hver side!-->
<div th:include="fragments/header :: header"></div>
<!-- Det gør at hele webapplicationen bliver mere uniform, hvilket giver et utrolig godt simpel look -->

<div class="container">
    <div id="index_content_top">
        <h1>Go-kart</h1>
        <p> Go-kart related information goes here... </p>
        <p> Go-kart related information goes here... </p>
        <p> Go-kart related information goes here... </p>
    </div>
    <div id="index_content_bot">
        <h1>Time & Date</h1>
        <p> pick the time & date and enter amount of participants</p>
        <a href="reservation-menu"><p>Already have a reservation? Click here to <u>login</u></p></a>
        <br>

        <form method="post" action="/gokart" th:object="${booking}">
        <tr th:each="activitylineitem : ${activitylineitemdate}">
            <td>Activity: </td>
            <td th:text="${activitylineitem.activity}"></td>
            <td>- Space left: </td>
            <td th:text="${activitylineitem.capacity}"></td>
            <td th:text="${activitylineitem.dateStart}"></td>
            <td><input th:value="${people}" id="people" type="number" name="people" placeholder="Amount of participants"></td>
            <td> <button formaction="/gokart" type="submit" class="btn" value="Create"></button> </td>
            <br>
            <p></p>
        </tr>
        </form>

    </div>
</div>

</body>
</html>