<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>AdventureXP</title>
    <link rel="stylesheet" href="styleTKKD.css">
</head>
<body>

<!-- Her bruges thymeleaf til at inkluder en header, som indeholder vores h1 i toppen af siden. Denne th:include line bør sættes in på hver side!-->
<div th:include="fragments/header :: header"></div>
<!-- Det gør at hele webapplicationen bliver mere uniform, hvilket giver et utrolig godt simpel look -->

<div class="container">

    <div id="index_content_top">

        <a href="gokart">
            <div class="button act" id="act1">
                <p>1 Go-kart</p>
            </div>
        </a>

        <a href="paintball">
            <div class="button act" id="act2">
                <p>2 Paintball</p>
            </div>
        </a>

    </div>

    <div id="index_content_bot">

        <a href="minigolf">
            <div class="button act" id="act3">
                <p>3 Mini-golf</p>
            </div>
        </a>

        <a href="sumo">
            <div class="button act" id="act4">
                <p>4 Sumo wrestling</p>
            </div>
        </a>

    </div>

</div>

<div class="container">

    <h1>AdventureXP</h1>
    <p>Personer</p>
    <div class="btn">
        <a href="createcustomer">Create customer</a>
        <!--<form method="get">-->
        <!--<button type="submit" formaction="/createcustomer" class="btn" >Create new customer</button>-->
        <!--</form>-->
    </div>
    <table>
        <thead>
        <tr>
            <th>ID</th>
            <th>Navn</th>
            <th>Email</th>
            <th></th>

        </tr>

        </thead>
        <tbody>
        <tr th:each="person : ${personData}">
            <td th:text="${person.id}"></td>
            <td th:text="${person.name}"></td>
            <td th:text="${person.email}"></td>
        </tr>

        </tbody>
    </table>
</div>

</body>
</html>