<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="../Static/styleTKKD.css">
    <meta charset="UTF-8">
    <title>AdventureXP</title>
</head>
<body>
<div class="container">
    <div class="containerbtn">
    <h1 class="heading">AdventureXP</h1>

        <a href="reservationer.html">
            <div class="button">
                <p>Login</p>
            </div>
        </a>
        <a href="opret.html">
            <div class="button">
                <p>Opret Bruger</p>
            </div>
        </a>
    </div>
</div>

</body>
</html>