<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="styleTKKD.css">
    <meta charset="UTF-8">
    <title>AdventureXP</title>
</head>
<body>
<div class="container">
    <div class="containerbtn">
    <h1 class="heading">AdventureXP</h1>

        <h2 style="color: #fff;">Log på</h2>
        <form method="POST" action="/login">
            <input type="text" name="email" value="anna@kea.dk"/>
            <input type="password" name="password" value="1234"/>
            <input type="submit"  value="login">
        </form>
    </div>
</div>
</body>
</html>