<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>AdventureXP - Bookings</title>
    <link rel="stylesheet" href="styleTKKD.css">
</head>

<!-- Her bruges thymeleaf til at inkluder en header, som indeholder vores h1 i toppen af siden. Denne th:include line bør sættes in på hver side!-->
<div th:include="fragments/header :: header"></div>
<!-- Det gør at hele webapplicationen bliver mere uniform, hvilket giver et utrolig godt simpel look -->

<body class="center">
<h2>Bookings</h2>
<table width="50%" class="center">
    <thead>
    <tr>
        <th>Booking-nr.</th>
        <th>Customer-nr.</th>
        <th>Participants</th>
        <th>Price</th>
        <th>Activity</th>

    </tr>

    </thead>
    <tbody>
    <tr th:each="booking : ${bookings}">
        <td th:text="${booking.id}"></td>
        <td th:text="${booking.customerId}"></td>
        <td th:text="${booking.people}"></td>
        <td th:text="${booking.price}"></td>
        <td>Gokart</td>
    </tr>

    </tbody>
</table>
</body>
</html>